{
    "presets": [
        "es2015-loose",
        "stage-2",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        ["csjs-postcss", { "plugins": ["postcss-cssnext", "csswring"] }]
    ]
}
